.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post-body{
    flex: 1;
    padding: 10px;
}
.post-body > img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    max-width: 490px;
    margin-top: 2%;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.post-badge{
    font-size: 14px !important;
    color: var(--twitter-color) !important;
}
.post-header-special, .post-likes span{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post-comments >p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post-avatar {
    padding: 20px;
  }
.post-time-stamp{
    display: flex;
    justify-content: right;
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post-likes{
    display: flex;
}
.post-footer .MuiSvgIcon-root{
    cursor: pointer;
}
.post-header-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-header-text .MuiSvgIcon-root{
    color: gray;
    cursor: pointer;
}
.post-header-text .MuiSvgIcon-root:hover{
    color: #000;
}
.post-delete-span{
    background-color: red;
    font-weight: 700;
    color: #000;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
}
.post-comment-list > div{
    display: flex;
    align-items: center;
}
.post-comment-list > div > p:first-child {
    font-size: 0.8rem;
    color: rgb(108, 107, 107);
    font-weight: 600;
    margin-right: 5px;
  }
  
  .post-comment-list > div > p:nth-child(2) {
   
  }
.post-comment-input > input:first-child{
    background-color: var(--twitter-background);
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 6px;
}
.post-comment-input :nth-child(2){
    background-color: var(--twitter-color) !important;
    border: none !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding: 6px !important;
    color: #fff !important;
    font-weight: 600 !important;
}
@media only screen and (max-width: 700px) {
    .post-body > img{
        max-width: 150px;
    }
    .post-body{
        width: 100%;
    }
}