.login{
    flex: 0.5;
}
.login-not-log ,.login-yes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    align-items: center;
} 
.login-not-log >p {
    font-size: 13px;
    font-weight: 600;
    color: grey;
}
.login-avatar{
    width: 150px !important;
    height: 150px !important;
}
.login-google-login{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: #fff !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    margin-top: 20px !important;
    border-radius: 30px !important;
    height: 50px !important;
    max-width: 50% !important;
}
.login-yes > p{
    font-weight: 700;
    color: grey;

}
@media only screen and (max-width: 700px) {
   .login{
        flex: 0.85;
   }
   .login-not-log ,.login-yes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    align-items: center;
    margin: 0 auto;
    } 
    .login-yes > p, .login-not-log > p{
        font-weight: 700;
        color: grey;
        width: 70%;
    }
    .login-google-login{
        width: 80% !important;
        margin-bottom: 10px;
    }
    .login-logged-user{
        text-align: center;
    }
    .login-logged-user .login-avatar{
        margin: 0 auto;
    }
    .login-logged-user p:not(:first-child):nth-child(even){
        font-size: 13px;
        color: gray;

    }
}