.login{
    flex: 0.5;
}
.login-not-log ,.login-yes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    align-items: center;
} 
.login-not-log >p {
    font-size: 13px;
    font-weight: 600;
    color: grey;
}
.login-avatar{
    width: 150px !important;
    height: 150px !important;
}
.login-google-login{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: #fff !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    margin-top: 20px !important;
    border-radius: 30px !important;
    height: 50px !important;
    max-width: 50% !important;
}
.login-yes > p{
    font-weight: 700;
    color: grey;
}